.form__field-occupation {
    padding: 0;
    width: 358px;
    height: 27px;
    margin-bottom: 48px;
    border-bottom: 1px solid #dadada;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media (max-width: 500px) {
    .form__field-occupation {
        width: 238px;
        height: 27px;

    }
}