.element__trash-button {
    padding: 0;
    margin: 0;
    width: 18px;
    height: 19px;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    row-gap: 1.28px;
    align-items: center;


    position: absolute;
    right: 20px;
    top: 20px;


}