.form__field-name {
    padding: 0;
    max-width: 358px;
    min-height: 27px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dadada;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media (max-width: 500px) {
    .form__field-name {
        max-width: 238px;
        min-height: 27px;
    }
}