.element__trash-button-cup {
    background-image: url(../../../images/trash-cup.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 18px 4.42px;
    width: 18px;
    height: 4.42px;

}