.profile__title {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 16px;
    min-height: 39px;


    position: relative;

}

@media (max-width: 720px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        margin-bottom: 14px;
        min-height: 26px;
    }
}