.footer__project {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    align-content: flex-start;
}

@media (max-width: 500px) {
    .footer__project {
        font-size: 14px;
        line-height: 17px;
    }
}