.error {
    width: 358px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-bottom: 20px;
    /* было 13px */

}

@media (max-width: 500px) {
    .error {
        width: 238px;
    }
}