.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 73px;
    margin-top: 22px;


}

@media (max-width: 590px) {
    .profile__info {
        align-items: center;
        margin-top: 0;
        height: 54px;
    }
}