.popup-container_picture {
    max-width: 433px;
    max-height: 562px;


    position: fixed;
    margin-right: auto;
    margin-left: auto;


    top: 90px;
    bottom: 68px;
}

@media (max-width: 500px) {
    .popup-container_picture {
        max-width: 240px;
        max-height: 324px;
    }
}