.element__trash-button-bin {
    background-image: url(../../../images/trash-bin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 15.44px 13.3px;
    width: 15.44px;
    height: 13.3px;



}