.form {
    max-width: 358px;
    height: 259px;
    display: flex;
    flex-direction: column;

    justify-content: center;



}

@media (max-width: 500px) {
    .form {
        max-width: 238px;

    }
}