.form__submit-button_invalid {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #dadada;
    color: #dadada;
    background-color: #FFFFFF;

}